@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px
}

header a, footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}
 section{
    padding:10vh 0px 10vh 30px;
    line-height: 2em;
 }
section.normal{
    background-color: white;
    color: black;
    

 }

 .imagem{
    background-color: rgb(70, 70, 70);
    color: white;
 }

 .imagem  > p{
    background-color: rgba(0, 0, 0, 0.253);
    width: 400px; 
 }