*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display:grid;
    grid-template-rows:80px 40px 1fr 40px;
    grid-template-columns: 1fr 150px;
    gap: 10px;
}
.caixa{
    background-color: lightgray;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
   
}
#topo{
    grid-column: 1 /-1;
    grid-row: 1/2;
    
}
#menu{
    grid-column: 1/-1 ;
    grid-row:2/3;
}
#principal{
    grid-column: 1/-2;
    grid-row: 3/-2;
}
#secundario{
    grid-column: 2/-1;
    grid-row: 3/-1;
}
#rodape{
    grid-column: 1/-1;
    grid-row: 4/5;
}